/* TILT NEON FONT */
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
/* POPPINS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
*::-webkit-scrollbar{
    display: none;
}
:root {

    --purple-blue-color: #6e57e0;
    --purple-blue-color-medium: #7d62ff;
    --purple-blue-color-dark: #332869;
    --purple-black-color: #242329;
    --purple-white-color: #fbfbfe;
    --purple-lite-white-color: #babad1;
    --background-color: #0b1026;
    --background-color-lite: #030e42;

}

/*!.............. Reusable Code .............*/
#home-body section {
    padding-left: 1rem;
    width: 100vw;
    height: fit-content;
}

.section-title {
    font-size: 1.3rem;
    color: var(--purple-white-color);
}

.section-content {
    padding-top: 0.8rem;
}

.height-10vh {
    height: 10vh;
}
/* Latest-Music-Options-Home */
.border-bottom-white{
    border-bottom: 1px solid var(--purple-lite-white-color);
}
/* ................................................ */
.flex-properties {
    display: flex;
    flex-shrink: 0;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}

.background-img {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

/* 2nd line Stations */
.stations-2 {
    position: relative;
    overflow: hidden;
    height: 100%;
}

.stations-2::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

/* Popular Artist, Latest English, Latest Hindi */
.horizontal-list {
    display: flex;
    gap: 0.8rem;
    overflow-x: auto;
}

.horizontal-list>* {
    flex-basis: 20%;
    flex-shrink: 0;
    text-align: center;
}

.horizontal-list .list-item img {
    width: 100%;
}

.horizontal-list .list-item h3 {
    font-size: 0.58rem;
    font-weight: 600;
    color: var(--purple-white-color);
}

/*!.................................................... */

/*!........... Home Body.............. */
body {
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: var(--background-color);
}

/*!....................... Home Header ..............*/
.main-header {
    height: fit-content;
}

/*!.................. Melody Logo ................*/
.main-header .logo {
    padding: 0.6rem 0px 0px 0.8rem;
}
.main-header .logo a img{
    /* width: 23%; */
    width: 7.3rem;
}
/*!.............. HOME MAIN ..............*/
.main-container {
    display: flex;
    flex-direction: column;
    gap: 3vh;
    justify-content: space-between;
    padding-bottom: 17vh;
}
/*!..................... Musical Promo Banner ......................*/
#banner-section {
    display: flex;
    gap: 0.8rem;
    padding-top: 0.4rem;
    overflow-x: auto;
}

#banner-section>* {
    flex-basis: 50%;
    flex-shrink: 0;
}
#banner-section img {
    width: 100%;
}

/*!..................Latest Release List................... */
#latest-music-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
}

#latest-music-container .music-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    position: relative;
}

#latest-music-container .img-container{
    width: 30%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
#latest-music-container .img-container img{
    width: 100%;
}
#latest-music-container .img-container i{
    font-size: 1.5rem;
    z-index: 10;
    position: absolute;
    color: var(--purple-white-color);
    display: none;
}
#latest-music-container .img-container::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    background-color: black;
    opacity: 0.4;
    display: none;
}
#latest-music-container .img-container:hover .pause{
    display: block;
}
#latest-music-container .img-container:hover::after{
    display: block;
}
.music-details-container {
    display: flex;
    width: 65%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    font-size: 0.6rem;
    color: var(--purple-lite-white-color);
}

.music-details-container .music-name h3 {
    color: var(--purple-white-color);
    font-weight: 600;
}

.music-details-container .option-icon-rating {
    align-self: flex-start;
    text-align: center;
    padding-right: 0.6rem;
    font-size: 0.5rem;
}
.music-details-container .option-icon-rating a{
    text-decoration: none;
    font-size: 0.6rem;
    font-style: normal;
    font-weight: 600;
    color: var(--purple-lite-white-color);
}
.music-details-container .option-icon-rating i {
    font-size: 1rem;
}
.option-icon-rating .music-option-container{
    position: absolute;
    width: 65%;
    height: fit-content;
    z-index: 10;
    border-radius: 3px;
    padding: 0.2rem 0.4rem;
    backdrop-filter: blur(40px);
    right: 2rem;
    top: 0.5rem;
    transform: scale(0);
    transition: all .2s ease-in-out;
}
.option-icon-rating .music-option-container li{
    list-style: none;
    text-align: left;
    line-height: 1.2rem;
}
.option-icon-rating .music-option-container li a{
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--purple-white-color);
}
.option-icon-rating .music-option-container li i{
    font-size: 0.5rem;
}
.option-icon-rating .music-option-container:target{
    transform: scale(1);
}

/*!.................... Popular Artists Section .................*/
/* #artist-container{
    display: flex;
    gap: 0.8rem;
    overflow-x: auto;
}
#artist-container>*{
    flex-basis: 20%;
    flex-shrink: 0;
    text-align: center;
}
#artist-container .artist img{
    width: 100%;
}
#artist-container .artist h3{
    font-size: 0.58rem;
    font-weight: 600;
    color: var(--purple-white-color);
} */
.img-round{
    width: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 0.2rem;
}
/*!................. Stations Section .................*/
.main-container #stations-section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.main-container #stations-section #stations-container {
    display: flex;
    background-color: var(--background-color-lite);
    justify-content: start;
    gap: 1.050rem;
    align-items: center;
    padding: 0.8rem;
    overflow-x: auto;
}

.main-container #stations-section #stations-logo {
    flex-direction: column;
    flex-basis: 25%;
    height: 10vh;
    background-image: url('resources/station_logoBg_low.png');
}

.main-container #stations-section #stations-logo img {
    width: 40%;
}

.main-container #stations-section #stations-container ul {
    display: flex;
    gap: 1rem;
    flex-basis: 70%;
    flex-shrink: 0;
}

.main-container #stations-section #stations-container ul li {
    flex-basis: 25%;
    flex-shrink: 0;
    list-style: none;
    border-radius: 50%;
}

.main-container #stations-section a {
    text-decoration: none;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.main-container #stations-section h3,
h4 {
    color: var(--purple-white-color);
    font-size: 0.6rem;
    font-weight: 600;
}

#love-stations {
    background-image: url('resources/love_stations_low.png');
}

#retro-stations {
    background-image: url('resources/retro_stations_low.png');
}

#chill-stations {
    background-image: url('resources/chill_stations_low.png');
}

#workout-stations {
    background-image: url('resources/workout_stations_low.png');
}

#rock-stations {
    background-image: url('resources/rock_stations_low.png');
}

#pop-stations {
    background-image: url('resources/pop_stations_low.png');
}

/*!..................... 2nd Line of Stations ..................*/
.main-container #stations-section #sec-line {
    width: 100%;
    justify-content: space-between;
    gap: 0px;
}

.main-container #stations-section #sec-line>* {
    flex-basis: 32%;
    flex-shrink: 0;
}

.zoom-img-stations {
    position: absolute;
    transition: all 0.5s ease-in-out;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.stations-2:hover .zoom-img-stations {
    transform: scale(1.5);
}

#party-stations::after {
    /* background-color: orangered; */
    background-image: linear-gradient(rgb(255, 166, 0), rgb(255, 55, 55));
}

#electronic-stations::after {
    /* background-color: rgb(113, 113, 255); */
    background-image: linear-gradient(rgb(39, 255, 255), rgb(52, 52, 255) 100%);
}

#road-stations::after {
    /* background-color: rgb(158, 149, 29); */
    background-image: linear-gradient(rgb(216, 216, 0), rgb(255, 81, 0));
}

/*!............... Latest English Section ................*/
/* #latest-eng-container{
    display: flex;
    gap: 0.8rem;
    overflow-x: auto;
}
#latest-eng-container>*{
    flex-basis: 20%;
    flex-shrink: 0;
    text-align: center;
}
#latest-eng-container div img{
    width: 100%;
}
#latest-eng-container div h3{
    font-size: 0.58rem;
    font-weight: 600;
    color: var(--purple-white-color);
} */

/*!............... Latest Hindi Section ................*/
/* #latest-hindi-container{
    display: flex;
    gap: 0.8rem;
    overflow-x: auto;
}
#latest-hindi-container>*{
    flex-basis: 20%;
    flex-shrink: 0;
    text-align: center;
}
#latest-hindi-container div img{
    width: 100%;
}
#latest-hindi-container div h3{
    font-size: 0.58rem;
    font-weight: 600;
    color: var(--purple-white-color);
} */

/*! Latest English Song & Latest Hindi Song */
#latest-eng-container h3,
#latest-hindi-container h3 {
    font-size: 0.65rem;
}

/*!................. Bottom Fixed Container ................*/
.bottom-fixed-container{
    position: fixed;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 0px 0px 30px black;
    z-index: 100;
    bottom: 0;
    left: 0;
    width: 100vw;
    border-radius: 5px 5px 0px 0px;
    overflow: hidden;
}
/*!.............. Mobile Minimized Music Player ...................*/
.bottom-fixed-container .mini-player-container{
    width: 100%;
    height: 7vh;
    background-color: var(--background-color-lite);
    padding: 0.2rem 1rem 0px 0.5rem;
}
.mini-player{
    width: 100%;
    height: 97%;
}
.mini-player #mini-player-img{
    height: 95%;
    width: fit-content;
}
.mini-player #mini-player-img img{
    height: 100%;
}
.mini-player #music-details{
    color: var(--purple-white-color);
    font-size: 0.6rem;
}
.mini-player #music-details h3{
    font-weight: 600;
}
.music-controls{
    width: 60%;
    display: flex;
    gap: 2.5rem;
    justify-content: center;
}
.music-controls a,
.music-favourite a{
    color: var(--purple-white-color);
    font-size: 1.2rem;
}
.music-player-progress{
    width: 100%;
    height: 3%;
}
.music-player-progress .progress{
    width: 30%;
    height: 100%;
    background-color: var(--purple-white-color);
    position: relative;
    display: flex;
    align-items: center;
}
.music-player-progress .progress i{
    position: absolute;
    color: var(--purple-white-color);
    right: -3px;
    font-size: 0.5rem;
}
/*!..................... Mobile Navigation Bar ..................*/
.bottom-fixed-container .navbar-mobile {
    /* background-color: var(--background-color); */
    background-image: linear-gradient(rgba(0, 5, 27, 0.8), rgba(0, 0, 0, 1) 50%);
    height: 7.5vh;
}

.navbar-mobile ul {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0;
}

.navbar-mobile ul li {
    width: 25%;
    list-style: none;
}

.navbar-mobile ul li a {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--purple-lite-white-color);
    font-size: 0.8rem;
}

.navbar-mobile ul li a {
    font-size: 0.6rem;
    font-weight: 500;
}

.navbar-mobile ul li a i {
    font-size: 1.5rem;
}
/*!............ Search Section .............*/
#search-target{
    position: relative;
    display: none;
}
#search-target form{
    width: 100%;
}
#search-target input{
    width: 100%;
    padding: 0.8rem 0.6rem 0.8rem 0.6rem;
    outline: 0;
    background-color: var(--purple-white-color);
    border: 1px solid black;
    color: var(--background-color);
    font-weight: 500;
    font-size: 1rem;
}
#search-target input::placeholder{
    font-size: 0.9rem;
}
#search-target button{
    color: var(--background-color);
    font-size: 1.2rem;
    position: absolute;
    right: 1rem;
    background-color: transparent;
    border: 0;
}
#search-target:target{
    display: flex;
}



/*!.................. ARTIST MUSIC HTML ..................*/
.artist-img-container{
    height: 30vh;
    width: 100vw;
    justify-content: space-between;
    gap: 0;
    position: fixed;
}
.artist-img{
    width: 100%;
    height: 100%;
    position: relative;
    background-image: url('resources/arijit_singh.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.artist-img::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--background-color-lite);
    opacity: 0.3;
}

/*.............. Desktop ............*/
.artist-details{
    position: absolute;
    background-color: var(--background-color-lite);
    width: 48%;
    height: 100%;
    right: 0;
    padding: 0.6rem 1rem;
    /* rgb(19, 27, 64) */
    display: none;
}
.artist-img-container p{
    font-size: 0.6rem;
    color: var(--purple-lite-white-color);
}
.artist-img-container h1{
    font-size: 0.8rem;
    font-weight: 600;
    color: var(--purple-white-color);
}
.artist-name p{
    font-weight: 600;
}
.bio{
    margin-top: 0.4rem;
}
.play-all{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    margin-top: 0.4rem;
}
.play-all button{
    width: 50%;
    color: var(--purple-white-color);
    background-color: var(
    --background-color);
    border: 0;
    border-radius: 3px;
    padding: 0.2rem 0px;
    font-weight: 600;
    font-size: 0.7rem;
}
.play-all p{
    color: var(--purple-white-color);
}
/* ............................................... */

.artist-playlist-container{
    display: flex;
    width: 100vw;
    justify-content: center;
    position: relative;
    top: 20.9vh;
    flex-direction: column;
    border-radius: 10px 10px 0px 0px;
}
.artist-playlist-container .artist-name{
    padding: 0px 0px 0.5rem 1rem;
    color: var(--purple-white-color);
}
.artist-playlist-container .artist-name h1{
    font-size: 2rem;
}
.artist-playlist-container .artist-name p{
    font-size: 0.8rem;
    color: var(--purple-lite-white-color);
}
.artist-playlist{
    background-image: linear-gradient(#332869, #0b1026 8%);
    width: 100%;
    padding: 0px 1rem ;
}
.artist-playlist .artist-options{
    display: grid;
    padding-top: 0.5rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    font-weight: 600;
}
.artist-options p{
    grid-area: 1/1/2/2;
    color: var(--purple-white-color);
    font-size: 0.8rem;
}
.artist-options button{
    grid-area: 2/1/3/2;
    color: var(--purple-white-color);
    background: transparent;
    border-radius: 5px;
    border: 2px solid var(--purple-white-color);
    width: 60%;
    padding: 0.4rem 0px;
    font-weight: 600;
    font-size: 0.8rem;
}
.artist-options i{
    grid-area: 1/2/3/3;
    font-size: 3rem;
    color: var(--purple-blue-color-medium);
    justify-self: end;
    align-self: center;
}
.artist-playlist ul{
    width: 100%;
    flex-direction: column;
    padding: 1rem 0px 16vh 0px;
    gap: 0.8rem;
}
.artist-playlist ul li{
    /* background-color: var(--background-color-lite); */
    width: 100%;
    list-style: none;
    height: 6vh;
    border-radius: 3px;
    justify-content: space-between;
    font-size: 1rem;
    color: var(--purple-white-color);
}
.artist-playlist .music{
    display: flex;
    align-items: center;
    gap: 0.8rem;
    height: 100%;
}
.artist-playlist .music img{
    height: 90%;
}
.artist-playlist .music h6{
    width: 0.8rem;
}
.artist-playlist .music h6, h3{
    font-size: 0.85rem;
    font-weight: 500;
}

/*!.......................... MEDIA_QUERIES ........................*/

@media(min-width: 500px){
    html{
        font-size: 20px;
    }

}
@media(min-width: 600px){
    html{
        font-size: 24px;
    }
}
@media(min-width: 768px){
    html{
        font-size: 22.5px;
    }
    /*! Reusable Code */
    .height-10vh{
        height: 9vh;
    }
    .horizontal-list>* {
        flex-basis: 13.5%;
    }
    /*! ........................... */
    .main-header .logo a img{
        width: 17%;
        /* width: 7.3rem; */
    }
    .main-container {
        gap: 2vh;
        padding-bottom: 17vh;
    }
    /* Banner Section */
    .main-container #banner-section>* {
        flex-basis: 35%;
        flex-shrink: 0;
    }
    /* Latest Music Section */
    #latest-music-container .img-container{
        width: 20%;
    }
    /* Stations Section */
    .main-container #stations-section #stations-logo {
        flex-basis: 18%;
    }
    .main-container #stations-section #stations-container ul {
        flex-basis: 82%;
        gap: 0;
    }
    .main-container #stations-section #stations-container ul li {
        flex-basis: 20%;
    }
    /* Station Section 2nd Line */
    .main-container #stations-section #sec-line{
        height: 13vh;
    }
    /* Music Player Mini */
    .music-controls{
        width: 73%;
    }
    /*! Artist Music Page */
    .artist-img-container{
        height: 44vh;
    }
    .artist-playlist-container{
        top: 30.5vh;
    }
    .artist-playlist-container .artist-name h1{
        font-size: 2.2rem;
    }
    .artist-playlist-container .artist-name p{
        font-size: 1rem;
    }
}
